/* Horizontal scroll container for mobile view */
.horizontal-scroll-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  margin-left: 0.5rem;
}
.card-body {
    flex: 1 1 auto !important;
    padding: 0 !important;
    color: #000 !important;
}
.card-body h5{
    font-family: 'merifont', sans-serif;
   font-size: 18px;
   margin-top: 28px;
  
}
#head h2{
   font-family: 'merifont', sans-serif;
   font-size: 30px;
}
.text-muted{
  font-family: 'merifont', sans-serif;
   font-size: 14px;
}
/* Hide scrollbar */
.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}
.horizontal-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-card {
  flex: 0 0 auto;
}

/* Optional: fix image height */
.event-img {
  height: 180px;
  object-fit: cover;
}
@media (max-width: 767px) {
  #head h2{
   font-family: 'merifont', sans-serif;
   font-size: 20px;
    margin-top: -14px;
}
 #head .subhed{
  margin-bottom: 25px;
 }
}