/* src\Components\AboutUs\About.css */
@font-face {
    font-family: 'MyFont';
    src: url('../../Assets/Fonts/Recoleta-SemiBold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
/* @font-face {
    font-family: 'merifont';
    src: url('../../Assets/Fonts/Helvetica.ttf') format('opentype');
 
} */

/* Body Font */
@font-face {
    font-family: 'robotofont';
    src: url('../../Assets/Fonts/Roboto-Regular.ttf') format('opentype');
 
}


body{
  font-family: 'robotofont'
}

/* Body Font */
#aboutimg {
    max-width: 100%;
    height: auto;
}
#aboutimg1{
     max-width: 100%;
    height: auto;
    margin-top: 80px;
}
.heading h3{
  font-family: 'MyFont', sans-serif;
  font-size: 40px;
}
.heading2 h3{
    font-family: 'MyFont', sans-serif;
  font-size: 40px;
  
}
.heading2 p{
      font-size: 16px;
    text-align: justify;
    margin-top: 25px;
    font-family: 'merifont', sans-serif;
}
.heading3 h3{
  font-family: 'MyFont', sans-serif;
  font-size: 40px;
}
.heading3 p{
      font-size: 16px;
    text-align: justify;
    margin-top: 35px;
    font-family: 'merifont', sans-serif;
}
.custom-flex {
  display: flex;
  flex-wrap: wrap;
}

/* Desktop: normal order */
.image-block {
  order: 1;
}
.text-block {
  order: 2;
}

/* Mobile: reverse order */
@media (max-width: 767px) {
  
  .image-block {
    order: 2;
  }
  .text-block {
    order: 1;
  }
  #aboutimg1 {
    max-width: 100%;
    height: auto;
    margin-top: -10px;
}
    .test {
        margin-top: -38px;
    }
    .heading h3 {
    font-family: 'MyFont', sans-serif;
    font-size: 25px;
    margin-top: -26px;
}
.heading p {
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
    font-family: 'merifont', sans-serif;
}
.heading2 h3{
    font-family: 'MyFont', sans-serif;
  font-size: 25px;
  
}
.heading2 p{
      font-size: 16px;
    text-align: justify;
    margin-top: 25px;
    font-family: 'merifont', sans-serif;
}
.heading3 h3{
  font-family: 'MyFont', sans-serif;
  font-size: 25px;
}
.heading3 p{
      font-size: 16px;
    text-align: justify;
    margin-top: 35px;
    font-family: 'merifont', sans-serif;
}
}

.heading p{
    font-size: 16px;
    text-align: justify;
    margin-top: 30px;
    font-family: 'merifont', sans-serif;

}
.heading h5{
  font-family: 'MyFont', sans-serif;
  font-size: 25px;
}
/* .heading3{
   margin-top: 150px;
} */


/* Media Queries */
