
.dataimg {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;           
}
.storie img {

  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically if needed */
  height: 80vh;
  width: 100%    
}
