.custom-dots {
  margin-bottom: 50px;
}

.dot-btn {
  border: none;
  background-color: #ccc;
  color: #000;
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot-btn.active {
  background-color: #dc3545; /* Bootstrap 'danger' */
  color: #fff;
}

.dot-btn:hover {
  background-color: #a71d2a;
  color: #fff;
}
.image-wrapper {
  height: 200px;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  #head h2 {
    font-size: 20px;
  }
  #head .subhead{
   font-size: 12px;
   margin-right: -6px;
   margin-top: -22px;
  }
}
