/* src\Components\Slider\Slider.css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 50px;
} */
#demoimages img{
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 50px;
}
.rating-text {
  color:rgb(245, 90, 24);
  font-weight: 500;
  font-size: 0.95rem;
}




/* Mobile View */
@media (max-width: 768px) {

  .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: conten;
  margin-top: 58px;
}
}





.swiper-pagination-fraction {
  position: absolute;
  bottom: 20px;
  right: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  
  padding: 6px 12px;
  border-radius: 8px;
  z-index: 10;
}

/* Mobile View */
@media (max-width: 768px) {
  .swiper-pagination-fraction {
    bottom: -4px;
    right: 10px;
    font-size: 14px;
    padding: 4px 8px;
  }
}